<%= search_form_for @q, url: url_for(controller: :articles) do |f| %>
  <div class="box">
	<div id="advanced-search-aligh">
	  <ul>
		<li>
		  <%= f.label :title_or_description_cont_all, "Keywords:" %>
		  <%= f.text_field :title_or_description_cont_all %>
		</li>
		<li>

		  <%= check_box_tag 'q[theme_id_in][]', '1' %>Informatica
 		  <%= check_box_tag 'q[theme_id_in][]', '2' %>Matematica
          <%= check_box_tag 'q[theme_id_in][]', '3' %>Ciencias



		  
		</li>
		<li>
		  <%= f.submit "Search" %>
		</li>
	  </ul>
	</div>
  </div>
<% end %>
