<div class="ribbon ribbon-orange" style="top: 175px;">
  <span><i class="fa fa-image"></i></span>
</div>
<div class="ribbon ribbon-orange" style="top: 230px;">
  <span><i class="fa fa-quote-right"></i></span>
</div>
<div class="ribbon ribbon-orange" style="top: 285px;">
  <span><i class="fa fa-youtube-play"></i></span>
</div>
<div class="ribbon ribbon-orange" style="top: 340px;">
  <span><i class="fa fa-file-pdf-o"></i></span>
</div>
