
<script>

// Fires whenever a player has finished loading
function onPlayerReady(event) {
    event.target.playVideo();
}

// Fires when the player's state changes.
function onPlayerStateChange(event) {
    // Go to the next video after the current one is finished playing
    if (event.data === 0) {
        $.fancybox.next();
    }
}

// The API will call this function when the page has finished downloading the JavaScript for the player API
function onYouTubePlayerAPIReady() {

    // Initialise the fancyBox after the DOM is loaded
    $(document).ready(function() {
        $(".fancybox")
            .attr('rel', 'videos')
            .fancybox({
                openEffect  : 'none',
                closeEffect : 'none',
                nextEffect  : 'none',
                prevEffect  : 'none',
                padding     : 0,
                margin      : 50,
                beforeShow  : function() {
                    // Find the iframe ID
                    var id = $.fancybox.inner.find('iframe').attr('id');

                    // Create video player object and add event listeners
                    var player = new YT.Player(id, {
                        events: {
                            'onReady': onPlayerReady,
                            'onStateChange': onPlayerStateChange
                        }
                    });
                }
            });
    });

}

</script>

<!-- This loads the YouTube IFrame Player API code -->
<script src="http://www.youtube.com/player_api"></script>

<% if @videos.present? %>
  <div class="entry type-post style-thumbnail col-sm-3">
    <%= link_to "http://www.youtube.com/embed/#{Video.youtube_id(@videos.first.id)}?enablejsapi=1&wmode=opaque", class: 'fancybox fancybox.iframe', rel: 'videos' do %>
      <div class="view2">
        <figure class="entry-thumbnail">
          <%= image_tag @publish.theme.image.url(:medium) %>
        </figure>
        <div class="mask2">
          <h2>Videos</h2>
        </div>
      </div>
    <% end %>
    <div class='hidden'>
      <% @videos.drop(1).each do |video| %>
        <%= link_to  video, "http://www.youtube.com/embed/#{Video.youtube_id(video.id)}?enablejsapi=1&wmode=opaque", class: 'fancybox fancybox.iframe', rel: 'videos' %>
      <% end %>
    </div>
  </div>
<% end %>
