<div id="articles">

  <%= render partial: 'advanced_search' %>

  <p>&nbsp;</p>
  

  <% @articles.each do |article| %>
    <%= render 'article', article: article %>
  <% end %>

  <div class="pagination">
    <%= will_paginate @articles, renderer: BootstrapPagination::Rails %>
  </div>
  
  <% if @articles.count==0 %>
    <h1 class="no-articles">NO ARTICLES</h1>

    <img class="emotion" src="/assets/emotion.png" >
  <% end %>
</div>
