<div class="container-body">
  <div class="container">
    <div class="row">
      <article class="post-holder">
        <div class="content bg-base section">
          <header class="page-header">
            <h2 class="page-title full-page-title">Add Article</h2>
          </header>
          <div class="style-single">
            <%= form_for @article_review, url: url_for(controller: 'articles', action: 'create_review'),  html: { multipart: true,  id: "new_upload" } do |f| %>
              <%= render partial: 'form',  locals: { f: f } %>
            <% end %>
          </div>
        </div>
      </article>
    </div>
  </div>
</div>
