<div class="container-body">
  <div class="container">
    <div class="row">
      <article class="post-holder">
        <div class="content bg-base section">
          <header class="page-header">
            <div class="pull-right">
              <i class="fa fa-heart"></i>
            </div>
            <div class="pull-right">
              <a href="#comments">
                <span class="comments-count-balloon bg-primary">123<em>Comments</em></span>
              </a>
            </div>
            <h2 class="page-title full-page-title">
              Postman will send notifications to your flashy smartphone about popular people and their latest shouts.
            </h2>
            <div class="entry-meta">
              <span><strong>by </strong><a href="blog.html">Paulo Guterres, Duarte Duarte</a></span>
              <br><span><strong>writen </strong><time datetime="2013-07-04T23:26:34+00:00">September 20 2013</time></span>
              <br><span><strong>accepted </strong><time datetime="2013-07-04T23:26:34+00:00">September 20 2013</time></span>
              <br><span>In <em>Matemática</em></span>
            </div>
        </header>

        <div class="style-single">
            <h3>Description</h3>
            <p>
              At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat.
            </p>
            <h3>Abstract</h3>
            <p>
              At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat.
            </p>
        </div>
        <div class="style-single">
          <div class="after-entry">
            <hr>
            <aside class="widget">
              <i class="icon-tags"></i> Tags:
              <a href="#"> Some</a>
              <a href="#"> Goes</a>
              <a href="#"> Here</a>
              <a href="#"> For</a>
              <a href="#"> Sure</a>
            </aside>

            <hr>
            <aside class="widget">
              <h3>Contents</h3>
              <div class="entries row">
                <div class="entry type-post style-thumbnail col-sm-3">
                  <div class="view2">
                    <figure class="entry-thumbnail">
                      <img src="/assets/Matematica.png" width="230" height="230" alt="">
                    </figure>
                    <div class="mask2">
                      <h2>Article</h2>
                    </div>
                  </div>
                </div>
                <div class="entry type-post style-thumbnail col-sm-3">
                  <div class="view2">
                    <figure class="entry-thumbnail">
                      <img src="/assets/Matematica.png" width="230" height="230" alt="">
                    </figure>
                    <div class="mask2">
                      <h2>Resumes</h2>
                    </div>
                  </div>
                </div>
                <div class="entry type-post style-thumbnail col-sm-3">
                  <div class="view2">
                    <figure class="entry-thumbnail">
                      <img src="/assets/Matematica.png" width="230" height="230" alt="">
                    </figure>
                    <div class="mask2">
                      <h2>Videos</h2>
                    </div>
                  </div>
                </div>
                <div class="entry type-post style-thumbnail col-sm-3">
                  <div class="view2">
                    <figure class="entry-thumbnail">
                      <img src="/assets/Matematica.png" width="130" height="130" alt="">
                    </figure>
                    <div class="mask2">
                      <h2>Images</h2>
                    </div>
                  </div>
                </div>
              </div>
            </aside>

            <hr>
            <aside class="widget widget-author media">
              <figure class="entry-author-avatar media-object avatar pull-left">
                <img src="/"  width="230" height="230" class="img-circle" alt="">
              </figure>
              <div class="media-body">
                <h4 class="entry-author-name"><a href="blog.html">Autor</a></h4>
                <p>
                  Deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio.
                </p>
              </div>
            </aside>
            <hr>
          </div>
        </div>
        <div class="well">
          <h4>Leave a Comment:</h4>

         <%= render 'comments/form' %>

         <hr class="hr-comments">
         <div id="comments">
           <%= render partial: @article.comments.reverse %>
         </div>
        </div>
      </div>
      </article>

    </div>
  </div>
</div>
