<div class="container-body">
  <div class="container">

<div class="row">
  <article class="post-holder">
    <div class="post-pad">
      <h2>Dashboard</h2>
      <div class="row">
      <div class="col-md-4">

        <div class="panel panel-primary">
          <div class="panel-heading">
              <div class="row">
                  <div class="col-xs-3">
                      <i class="fa fa-comments fa-5x"></i>
                  </div>
                  <div class="col-xs-9 text-right">
                      <div class="huge"><%= Theme.count %></div>
                      <div>Themes</div>
                  </div>
              </div>
          </div>
          <%= link_to admin_themes_url do %>
              <div class="panel-footer" style="background-color: #337ab7;">
                  <span class="pull-left">View Details</span>
                  <div class="clearfix"></div>
              </div>

          <% end %>
      </div>
    </div>
    <div class="col-md-4">

      <div class="panel panel-orange">
        <div class="panel-heading">
            <div class="row">
                <div class="col-xs-3">
                    <i class="fa fa-comments fa-5x"></i>
                </div>
                <div class="col-xs-9 text-right">
                    <div class="huge"><%= Article.count %></div>
                    <div>Articles</div>
                </div>
            </div>
        </div>
        <a href="#">
            <div class="panel-footer" style="background-color: orange;">
                <span class="pull-left">View Details</span>
                <div class="clearfix"></div>
            </div>
        </a>
    </div>
  </div>
    <div class="col-md-4">
        <div class="panel panel-red">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-comments fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge"><%= User.count %></div>
                        <div>Users</div>
                    </div>
                </div>
            </div>
            <a href="#">
                <div class="panel-footer" style="background-color: #d9534f;">
                    <span class="pull-left">View Details</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
          </div>
        </div>
    </div>

      </div>
        </div>
  </div>
  </div>
  </div>
