<p>Username:<%= simple_format @user.username %></p>
<p>Date created: <%= simple_format @user.created_at.to_time.strftime('%m/%d/%Y') %></p>
<p>User Clearance: Falta fazer</p>
<p>Email: <%= simple_format @user.email %></p>
<p>
  <% if current_user.id == @user.id %>
    <%= link_to t('.change_password'), new_password_path %>
  <% end %>
</p>