<div class="bio-row">
  <p><span>First Name </span>: Jenifer </p>
</div>
<div class="bio-row">
  <p><span>Last Name </span>: Smith</p>
</div>
<div class="bio-row">
  <p><span>Country </span>: United</p>
</div>
<div class="bio-row">
  <p><span>Occupation </span>: UI Designer</p>
</div>
<div class="bio-row">
  <p><span>Email </span>:jenifer@mailname.com</p>
</div>
<div class="bio-row">
  <p><span>Date created</span>: data</p>
</div>
