<% if @subscriptions.present? %>
  <table id="versions" class="display">
    <thead>
      <tr>
        <th>Subject</th>
        <th>Theme</th>
        <th>Notifications</th>
        <th>Destroy</th>
      </tr>
    </thead>

		<tbody>
			<% @subscriptions.each do |v| %>
				<tr>
					<td><%= v.subject %></td>
					<td><%= Theme.find(v.theme_id).name %></td>
					<td>
						<% if v.notify? %>
						  Active
            <% else %>
              Inactive
             <% end %> 
					</td>
          <td><%= link_to 'Destroy', v, method: :delete %></td>
				</tr>
			<% end %>
		</tbody>
  </table>
<% else %>
  <p>No records</p>
<% end %>

<%= link_to 'New', new_subscription_path, {class: "btn btn-default btn-lg"}  %>
