	<ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#profile">Profile</a></li>
        <li><a data-toggle="tab" href="#posts">Posts</a></li>
        <li><a data-toggle="tab" href="#favorites">Favorites</a></li>
        <li><a data-toggle="tab" href="#subscriptions">Subscriptions</a></li>    
    </ul>
    <div class="tab-content">
        <div id="profile" class="tab-pane fade in active">
            <%= render partial: 'user_profile' %>
        </div>
        <div id="posts" class="tab-pane fade">
            <%= render partial: 'user_posts' %>
        </div>
        <div id="favorites" class="tab-pane fade">
			<%= render partial: 'user_favorites' %>        
		</div>
		<div id="subscriptions" class="tab-pane fade">
			<%= render partial: 'user_subscriptions' %>        
		</div>
    </div>