
  <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
      <div class="container">
          <div class="navbar-header">
              <div class="navbar-brand page-scroll">
                <img src="/assets/tag1.png" />
              </div>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
              <ul class="nav navbar-nav">
                  <li>
                      <%= link_to  sign_up_path, class: "page-controll btn btn-warning btn-lg round" do %>
                        <span>Register for FREE!</span>
                      <% end %>
                  </li>
                  <li>
                      <%= link_to  sign_in_path, class: "page-controll btn btn-default btn-lg round" do %>

                          <span class="orange">Login</span>

                      <% end %>
                  </li>
              </ul>
          </div>
          <!-- /.navbar-collapse -->
      </div>
      <!-- /.container -->
  </nav>

  <!-- Intro Header -->
  <header class="intro" id="intro">
      <div class="intro-body">
          <div class="container">
              <div class="row">
                  <div class="col-md-8 col-md-offset-2">
                      <h1 class="brand-heading orange">Tangerina</h1>
                      <p class="intro-text"><strong>Sharing scientific contents for free<br> and in a comprehensibly way!</strong></p>
                      <a href="#about" class="btn btn-circle page-scroll">
                          <i class="fa fa-angle-double-down animated"></i>
                      </a>
                  </div>
              </div>
          </div>
      </div>
  </header>

      <!-- About Section -->
      <section id="about" class="container content-section text-center">
          <div class="row">
              <div class="col-lg-8 col-lg-offset-2">
                <a href="#intro" class="btn btn-circle page-scroll">
                    <i class="fa fa-angle-double-up animated"></i>
                </a>
                  <div class="row">
               <div class="col-lg-12 text-center" >
                  <div id="rcorners1">
                    <h2 class="section-heading">How can Tangerina help you?</h2>
                    <h3 class="section-subheading text-muted">There are three main problems that Tangerina solves:</h3>
                 </div>
               </div>
           </div>
               <div class="row text-center">
                   <div class="col-md-4">
                       <span class="fa-stack fa-4x">
                           <i class="fa fa-circle fa-stack-2x orange"></i>
                           <i class="fa fa-files-o fa-stack-1x fa-inverse"></i>
                       </span>
                       <p class="text-muted" id = "rcorners2">
                       
                         <strong>Allows</strong> researchers, journalists, investigation centers,
                         universities, etc. to publish their discoveries in a variety of
                         formats, allowing <strong>them to reach far more people.</strong>
                       </p>
                   </div>
                   <div class="col-md-4">
                       <span class="fa-stack fa-4x">
                           <i class="fa fa-circle fa-stack-2x orange"></i>
                           <i class="fa fa-search fa-stack-1x fa-inverse"></i>
                       </span>
                        <p class="text-muted" id = "rcorners2">
                          <strong>Allows people to find content</strong>, such as articles,
                          <strong>written in other formats</strong>, allowing them to aquire that knowledge
                          without the need to fully understand the specific jargon.
                        </p>
                   </div>
                   <div class="col-md-4">
                       <span class="fa-stack fa-4x">
                           <i class="fa fa-circle fa-stack-2x orange"></i>
                           <i class="fa fa-smile-o fa-stack-1x fa-inverse"></i>
                       </span>
                       <p class="text-muted" id = "rcorners2">
                        <strong>Easy and free access to scientific articles.</strong> Enabling you to <strong>subscribe and stay updated</strong>
                        on your favorite subjects.
                       </p>
                   </div>
               </div>

              </div>
          </div>
      </section>
