
<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
      <div class="container">
          <div class="navbar-header">
              <div class="navbar-brand page-scroll">
                <img id="profile-img" class="profile-img-card" src="/assets/tag1.png" />

              </div>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
              <ul class="nav navbar-nav">
                  <li><button class="btn btn-primary btn-lg round"><a href="#">Register FREE!</a></button></li>
                  <li><a class="page-scroll" >Login</a></li>
              </ul>
          </div>
          <!-- /.navbar-collapse -->
      </div>
      <!-- /.container -->
  </nav>

  <!-- Intro Header -->
  <header class="intro" id="intro">
      <div class="intro-body">
          <div class="container">
              <div class="row">
                  <div class="col-md-8 col-md-offset-2">
                      <h1 class="brand-heading">What is Tangerina</h1>
                      <p class="intro-text">Sharing scientific contents for free<br> and in a comprehensibly way</p>
                      <a href="#about" class="btn btn-circle page-scroll">
                          <i class="fa fa-angle-double-down animated"></i>
                      </a>
                  </div>
              </div>
          </div>
      </div>
  </header>

      <!-- About Section -->
      <section id="about" class="container content-section text-center">
          <div class="row">
              <div class="col-lg-8 col-lg-offset-2">
                <a href="#intro" class="btn btn-circle page-scroll">
                    <i class="fa fa-angle-double-up animated"></i>
                </a>
                  <div class="row">
               <div class="col-lg-12 text-center">
                   <h2 class="section-heading">Services</h2>
                   <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
               </div>
           </div>
               <div class="row text-center">
                   <div class="col-md-4">
                       <span class="fa-stack fa-4x">
                           <i class="fa fa-circle fa-stack-2x text-primary"></i>
                           <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i>
                       </span>
                       <h4 class="service-heading">E-Commerce</h4>
                       <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
                   </div>
                   <div class="col-md-4">
                       <span class="fa-stack fa-4x">
                           <i class="fa fa-circle fa-stack-2x text-primary"></i>
                           <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                       </span>
                       <h4 class="service-heading">Responsive Design</h4>
                       <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
                   </div>
                   <div class="col-md-4">
                       <span class="fa-stack fa-4x">
                           <i class="fa fa-circle fa-stack-2x text-primary"></i>
                           <i class="fa fa-lock fa-stack-1x fa-inverse"></i>
                       </span>
                       <h4 class="service-heading">Web Security</h4>
                       <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
                   </div>
               </div>

              </div>
          </div>
      </section>
