<div class="card card-container2">
    <img id="profile-img" class="profile-img-card" src="/assets/tangerina.png" />
    <h2 class="text-orange">Check your email.</h2>
    <div class="form-signin">
      <p>You will receive an email within the next few minutes. It contains instructions for changing your password.</p>
    </div>
    <p class="text-black">Already have account? <%= link_to 'Login', sign_in_path %></p>
</div>
