<div class="container-body">
  <div class="container">

<div class="row">
  <div class="post-holder">
    <div class="post-pad">
      <h2>Themes</h2>
<%= smart_listing_controls_for(:themes, {class: "form-inline text-right"}) do %>
<div class="form-group input-append filter">
    <%= text_field_tag :filter, '', class: "search form-control", placeholder: "Search...", autocomplete: :off %>
</div>
<% end %>
<%= smart_listing_render(:themes) %>
</div></div></div>
</div></div>
