/*
  *= require custom
  *= require fancybox
  *= require fileinput
  *= require jquery-ui/datepicker
*/
a.edit-comment{
  cursor: pointer;
}

.view{
  width: 130px;
  height: 130px;
  overflow: hidden;
  text-align: center;
  cursor: auto;

}

.view .mask, .view .content{
  width: 130px;
  height: 130px;
  position: absolute;
  overflow: hidden;
  top: 0;

}

.view img{
  display: block;
  position: relative;
}

.view h2 {
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  position: relative;
  font-size: 14px;
  padding: 10px;
  background: rgba(0, 0, 0, 0.8);
  margin: 20px 0 0 0;
}

.view p {
  font-family: Georgia, serif;
  font-style: italic;
  font-size: 8px;
  position: relative;
  color: #fff;
  padding: 10px 20px 20px;
  text-align: center;
}

.view a.info {
  display: inline-block;
  text-decoration: none;
  padding: 7px 14px;
  background: #000;
  color: #fff;
  text-transform: uppercase;
  box-shadow: 0 0 1px #000;
}

.view a.info:hover {
  box-shadow: 0 0 5px #000;
}

.view img {
	transition: all 0.4s ease-in-out 0.5s;
}

.view .mask{
	background-color: rgba(146,96,91,0.5);
	opacity:0;
	transition: all 0.3s ease-in 0.4s;
}

.view h2{
	opacity:0;
  background: transparent;
  transform: scale(10);
  transition: all 0.3s ease-in-out 0.1s;
}

.view p {
	opacity:0;
  transform: scale(10);
	transition: all 0.3s ease-in-out 0.2s;
}

.view a.info {
	opacity:0;
  transform: translateY(100px);
	transition: all 0.3s ease-in-out 0.1s;
}

.view:hover .mask {
	opacity:1;
	transition-delay: 0s;
}

.view:hover img {
	transition-delay: 0s;
}

.view:hover h2 {
	opacity: 1;
  transform: scale(1);
	transition-delay: 0.1s;
}

.view:hover p {
	opacity:1;
  transform: scale(1);
	transition-delay: 0.2s;
}

.view:hover a.info {
	opacity:1;
  transform: translateY(0px);
	transition-delay: 0.3s;
}

.ribbon2{
  position: absolute;
  top: 20px;
  right: -5px;
  background: #c9376e;
  border-right: 5px solid #dd6a9c;
  padding: 15px;
}

.ribbon2 span{
  display: block;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  color:#fff;
  line-height: 20px;
}

.ribbon2-orange{
  background-color: #ffb529;
  border-right-color: #d29520;
}

.ribbon{
  background: none repeat scroll 0% 0% #EE5190;
  color: #FFFFFF;
  border-right: 5px solid #dd6a9c;
  font-size: 18px;
  height: 40px;
  left: 705px;
  line-height: 43px;
  padding: 0px 20px 0px 20px;
  position: absolute;
}

.ribbon.ribbon-orange, .ribbon.ribbon-orange .ribbon-stitches-top{
  background: none repeat scroll 0% 0% #FFB529;
  background-color: #ffb529;
  border-right-color: #d29520;
}

.post-pad{
  padding: 15px 85px;

}

.post-holder .entry-title, .post-holder .entry-title a{
  color: #222222;
  font-size: 23px;
  margin-bottom: 31px;
}

.post-holder .img-responsive{
  width: 100%;
}

.post-holder .entry-title, .post-holder .entry-title a{
  color: #222222;
  font-size: 23px;
  margin-bottom: 31px;
}

.post-meta{
  border-bottom: 1px solid #EEEEEE;
  border-top: 1px solid #EEEEEE;
  color: #777777;
  display: block;
  margin-bottom: 23px;
  overflow: hidden;
}

.post-meta a{
  color: #777;
  padding: 0 6px 0 0;
  text-decoration:none;
}

.post-meta i{
  font-size: 16px;
  padding: 0 8px 0 0;
}

.post-meta a:hover{
  color: #000;
}

.post-holder{
  background: none repeat scroll 0 0 #FFFFFF;
  border: 1px solid #E1E1E1;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 60px;
  position: relative;
}

.post-holder .img-responsive{
  width: 100%;
}

.post-meta-links ul{
  border-radius: 0px;
  margin-bottom: 0px;
  overflow: hidden;
}

.post-meta-links li{
  border-left: 1px solid #ECECEC;
  color: #7B6D5E;
  float: left;
  font-size: 15px;
  font-weight: 700;
  line-height: 25px;
  margin-bottom: 0px;
  padding-bottom: 0px;
  text-align: center;
  text-transform: uppercase;
}

.post-meta-links li.post-view{
  width: 20%;
}

.post-meta-links li.post-comm{
  width: 20%;
}

.post-meta-links li.post-author{
  width: 27%;
}

.post-meta-links li.post-read{
  width: 33%;
}

.post-meta-links li a{
  background: none repeat scroll 0 0 #FAFAFA;
  color: #333333;
  display: block;
  font-family: open sans;
  font-size: 13px;
  font-weight: 600;
  padding: 15px 10px;
}

.post-meta-links li a:hover{
  background: none repeat scroll 0 0 #FFFFFF;
  color: #E05033;
}

.post-meta-links li.first{
  border-left: 0px none;
  border-radius: 0px 0px 0px 5px;
}

.post-meta-links li.last{
  border-radius: 0px 0px 5px;
}

.title{
  background: url("../img/pattern-stripes.png") repeat scroll 0 50% rgba(0, 0, 0, 0);
  padding: 0 !important;
  overflow: hidden;
}

.title span{
  background: none repeat scroll 0 0 #FFFFFF; float: left; padding: 0 31px 0 0 !important; }

.title-center{
  font-size: 32px;
  font-weight: 500;
  color: #333;
  width: 70%;
  margin: 20px auto 40px;
  overflow: hidden;
  text-align: center;
  line-height: 32px;
}

.title-center:before, .title-center:after{
  content: "";
  vertical-align: top;
  display: inline-block;
  width: 50%;
  height: 15px;
  border-bottom: 4px double #ccc;
  margin: 0 2% 0 -55%;
}

.title-center:after{
  margin: 0 -55% 0 2%;
}

.text-center{
  color: #666666;
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 32px;
  margin-bottom: 40px;
}

.article{
  padding-right: 0px;
}


.box-style { background: #fff; border: 1px solid #dfdcd6; border-radius:8px; -webkit-box-shadow: 0 1px 1px rgba(224, 222, 220, 0.75); box-shadow: 0 1px 1px rgba(224, 222, 220, 0.75); margin-bottom:50px; position: relative; z-index: 0; }

.box-style:after { content: ''; height: 4px; background: #fbfbfb; border: 1px solid #dfdcd6; border-top: none; border-radius:0 0 4px 4px; -webkit-box-shadow: 0 1px 1px rgba(224, 222, 220, 0.75); box-shadow: 0 1px 1px rgba(224, 222, 220, 0.75); position: absolute; bottom:-6px; left:8px; right: 8px; }

.box-style > .inner { padding: 22px 24px 26px; }

.third .box-style .title span { background: none repeat scroll 0 0 #FFFFFF; }

.box-style > .inner .text2 { margin-top: 0; }

.box-style .title { margin-top: 10px; }



/* List Link */

ul.list-link { margin-bottom: 9px; }

ul.list-link>li { border-top: 1px solid #e9e9e9; font-size: 18px; line-height: 24px; }

ul.list-link>li:first-child { border: none; }

ul.list-link>li a { color: #777; display: block; font-size: 13px; font-family: 'Open Sans', Arial, sans-serif; font-weight: 600; line-height: 24px; padding: 8px 0; }

ul.list-link>li i { float: right; font-size: 18px; padding: 2px 10px 0; }

ul.list-link>li a:hover { color: #D53701; text-decoration: none; }
/*=========================================================================
 34. Latest News
=========================================================================*/


.latest-news { overflow: hidden; }

.latest-news > li { border-top: 1px solid #EEEEEE; margin-top: 18px; padding-top: 18px; }

.latest-news > li:first-child { border: 0px none; margin-top: 0px; padding-top: 10px; }

.latest-news img.fleft { margin-right: 18px; margin-top: 9px; }

.latest-news img.fright { margin-left: 18px; margin-top: 9px; }


/***** Float Left and right *****/
.fleft { float:left; }

.fright { float:right; }
/***** Text left, right and center *****/

.center { text-align: center !important; }

.tleft { text-align: left !important; }

.tright { text-align: right !important; }

.text2 { color: #000; display: block; font-size: 14px; font-weight: 600; margin-bottom: 3px; margin-top: 14px; }
