
<% versions.reverse.each do |v| %>
<tr>
    <td><%= Article.find(v.item_id).id %></td>
    <td><%= Article.find(v.item_id).created_at %></td>
    <td><%= Article.find(v.item_id).updated_at %></td>
    <td><%= find_version_author_name(v) %></td>
 </tr>
<% end %>
