<h2>Destroys</h2>
<table class='table'>
  <thead>
    <tr>
      <th>Article ID</th>
      <th>Created</th>
      <th>Updated</th>
      <th>Author</th>
    </tr>
  </thead>

  <tbody>
<% versions.reverse.each do |v| %>
<tr>
    <td><%= Article.find(v.item_id).id %></td>
    <td><%= Article.find(v.item_id).created_at %></td>
    <td><%= Article.find(v.item_id).updated_at %></td>
    <td><%= find_version_author_name(v) %></td>
 </tr>
<% end %>
</tbody>
</table>
