<h2>Updates</h2>
<table class='table'>
  <thead>
    <tr>
      <th>Article ID</th>
      <th>Created</th>
      <th>Updated</th>
      <th>Author</th>
    </tr>
  </thead>

  <tbody>
<% versions.reverse.each do |v| %>
<tr>
    <td><%= link_to v.id, { action: 'show', id: v.id } %></td>
    <td><%= v.created_at %></td>
    <td><%= v.updated_at %></td>
    <td><%= User.find(v.user_id).username %></td>
 </tr>
<% end %>
</tbody>
</table>
