<!-- <div class="articles">
<div class="row">
  <div class="box">
<h1>reviews#index</h1>


</div>
</div>
</div> -->
<div class="container-body">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 class="text-center">Reviewers</h1>
      </div>
      <div class="col-md-6">
        <div class="box-style">
          <div class="inner">
            <%= render 'create', versions: @creates %>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="box-style">
          <div class="inner">
            <%= render 'update', versions: @updates %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
